
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-img src="assets/icon/inicio.png" class="tab-icon"></ion-img>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="productos" href="/tabs/productos">
      <ion-img src="assets/icon/productos.png" class="tab-icon"></ion-img>
      <ion-label>Productos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" href="/tabs/carrito">
      <ion-img src="assets/icon/carrito.png" class="tab-icon"></ion-img>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacto" href="/tabs/contacto">
      <ion-img src="assets/icon/concta.png" class="tab-icon"></ion-img>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nosotros" href="/tabs/nosotros">
      <ion-img src="assets/icon/nosotros.png" class="tab-icon"></ion-img>
      <ion-label>Nosotros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-img src="assets/icon/contacto.png" class="tab-icon"></ion-img>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
